# Node modules
node_modules/

# Build artifacts
dist/
build/
*.local

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific files
.DS_Store
Thumbs.db

# Uploads directory (if storing locally)
server/uploads/

# Frontend build output
client/build/
client/dist/
